name: TEST_ON_DEMAND
permissions:
  contents: read
on:
  workflow_dispatch:
  pull_request:
    types: [opened]
jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest  ]
    runs-on: ${{ matrix.os }}
    env:
      NODE_TLS_REJECT_UNAUTHORIZED: 0
      ON_DEMAND: true
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 20
        cache: 'npm'
    - name: Install npm dependencies
      run: npm install
    - name: Test Modeler
      run: |
        npm install puppeteer
        npm run test